/*
Haftpflichtkasse
TARIFRECHNER 2018/06/20
Goldfischclub, pw@goldfischclub.de

*/



sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


.details .hkd-abschluss-status {
	margin: 40px 0;
}

.details .hkd-abschluss-status .hkd-abschluss-status-indikator li {
	background-image: none;
}


.hkd-abschluss-status-indikator {
  list-style: none;
  width: 100%;
  padding: 0;
  display: table;
  table-layout: fixed;
}

.hkd-abschluss-status-indikator > li {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 14px;
}

.hkd-abschluss-status-indikator > li span {
  position: absolute;
  color: #9f9f9f;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hkd-abschluss-status-indikator > li::before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #9f9f9f;
  width: 1.1em;
  height: 1.1em;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 1.5em;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}

.hkd-abschluss-status-indikator > li::after {
  content: '';
  position: absolute;
  display: block;
  background: #9f9f9f;
  width: 100%;
  height: 0.15em;
  top: 50%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 50%;
  margin-left: 1.5em\9;
  z-index: 0;
}

.hkd-abschluss-status-indikator > li:last-child:after {
  display: none;
}


.hkd-abschluss-status-indikator > li.is-complete::before, 
.hkd-abschluss-status-indikator > li.is-complete::after {
  color: #fefefe;
  background: #1779ba;
}

.hkd-abschluss-status-indikator > li.is-complete span {
  color: #1779ba;
}

.hkd-abschluss-status-indikator > li.is-current {
  color: #4eabe9;
}

.hkd-abschluss-status-indikator > li.is-current::before {
  color: #fefefe;
  background: #4eabe9;
}

.hkd-abschluss-status-indikator > li.is-current span {
  color: #4eabe9;
}










/* modal jquery ui dialog-widget */
.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-widget-header {
    border: none;
    background: #00a0dc;
    color: #fff;
}

.ui-button,
.ui-button:hover {
	border: none;
	background: #00a0dc;
    color: #fff;
}
.ui-dialog .ui-dialog-buttonpane {
	padding: 0;
	background-color: #e3e2e0;
}

.hkd-tabelle-pauschal-versicherungssumme .txt p {
	font-size: 13px;
}

.ui-dialog .ui-dialog-content {
	padding: 20px 10px;
}




/* wertermittlungsbogen, tabellen pauschal und grundsumme */

.hkd-content-grundsumme {
	margin-top: 30px;
	display: none;
	float: left;
}
.close-tabelle-grundsumme {
	margin-left: 20px;
}


.hkd-tabelle-grundsumme,
.hkd-tabelle-pauschal-versicherungssumme,
.hkd-tabelle-wertentwicklung {
	margin-bottom: 20px;
	float: left;
	width: 100%;
}

.hkd-tabelle-grundsumme .hkd-tabelle-content,
.hkd-tabelle-pauschal-versicherungssumme .hkd-tabelle-content,
.hkd-tabelle-wertentwicklung .hkd-tabelle-content {
	float: left;
	width: 100%;
}
.hkd-tabelle-grundsumme .txt,
.hkd-tabelle-pauschal-versicherungssumme .txt,
.hkd-tabelle-wertentwicklung .txt {
	float: left;
}



.hkd-tabelle-wertentwicklung .hkd-wert-summe {
	padding-top: 8px;
	text-align: right;
	padding-right: 5px;
}
div.details .hkd-tabelle-wertentwicklung .hkd-form-row-summe p,
div.details .hkd-tabelle-pauschal-versicherungssumme .hkd-form-row-summe p {
	padding-top: 8px;
	margin-bottom: 0;
}
.hkd-tabelle-wertentwicklung .hkd-form-row-summe .hkd-wert-summe {
	padding-top:0;
}


div.details .hkd-tabelle-content p.hkd-form-element {
	margin: 0;	
}

.hkd-tabelle-content .hkd-form-row-summe dl,
.hkd-tabelle-content .hkd-form-row-summe p,
.hkd-tabelle-content .hkd-wert-summe p {
	color: #00a0dc;
}

#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-tabelle-pauschal-versicherungssumme  .hkd-form-row > .hkd-form-cols > .hkd-form-col {
	padding-top: 0; 
}
div.details .hkd-tabelle-content p {
	margin-bottom: 0;
}
div.details .hkd-tabelle-content p.hkd-form-element {
	margin: 0 0 0px 0;	
}

#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper  .hkd-form-row > .hkd-form-cols > .hkd-form-col {
	width: 20%;
}
#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper  .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
	width: 80%;
	padding-top: 8px;
}


#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-tabelle-grundsumme .hkd-form-row > .hkd-form-cols > .hkd-form-col {
	width: 14%;
	text-align: right;
}
#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-tabelle-grundsumme .hkd-form-row > .hkd-form-cols > .hkd-form-col:first-child {
	margin-left: 10px;
	text-align: left;
}


#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-tabelle-wertentwicklung .hkd-form-row > .hkd-form-cols > .hkd-form-col {
	width: 9%;
}
#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-tabelle-wertentwicklung .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
	width: 25%;
	padding-top: 8px;
	padding-right: 1%;
}
#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-form-row-header > .hkd-form-cols > .hkd-form-col-first {
	padding-top: 0px;
}






#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-form-row-header,
#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-form-row-summe,
#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-form-row-summe-gesamt {
	font-weight: bold;
}

#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-form-row-summe,
#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-form-row-summe-gesamt {
	border-top: 1px solid #000;
}

#hk-tarifrechner .hkd-grid-10 .hkd-form-text input.hkd-form-ts2 {
	width: 85%;
}

@media handheld, only screen and (max-width: 1000px) {
	.hkd-tabelle-grundsumme {
		width: 700px;
		overflow-y: auto;
		margin: 0 0 1em;
	}
	
	.hkd-tabelle-grundsumme  .hkd-tabelle-content,
	.hkd-tabelle-grundsumme  .hkd-tabelle-content .hkd-form-row,
	.hkd-tabelle-grundsumme  .hkd-tabelle-content .hkd-form-row .hkd-form-cols {
		width: 1150px;
		display: block;
	}
	

}

@media handheld, only screen and (max-width: 700px) {
	.hkd-tabelle-grundsumme,
	.hkd-tabelle-wertentwicklung  {
		width: 410px;
		overflow-y: auto;
		margin: 0 0 1em;
	}
	
	.hkd-tabelle-grundsumme  .hkd-tabelle-content,
	.hkd-tabelle-grundsumme  .hkd-tabelle-content .hkd-form-row,
	.hkd-tabelle-grundsumme  .hkd-tabelle-content .hkd-form-row .hkd-form-cols,
	.hkd-tabelle-wertentwicklung  .hkd-tabelle-content,
	.hkd-tabelle-wertentwicklung  .hkd-tabelle-content .hkd-form-row,
	.hkd-tabelle-wertentwicklung  .hkd-tabelle-content .hkd-form-row .hkd-form-cols {
		width: 1150px;
		display: block;
	}
	.hkd-tabelle-grundsumme::-webkit-scrollbar,
	.hkd-tabelle-wertentwicklung::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 14px;
		height: 14px;
	}
	.hkd-tabelle-grundsumme::-webkit-scrollbar-thumb,
	.hkd-tabelle-wertentwicklung::-webkit-scrollbar-thumb {
		border-radius: 8px;
		border: 3px solid #fff;
		background-color: rgba(0, 0, 0, .3);
	}
	/* fixe breiten */
	#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-tabelle-wertentwicklung .hkd-form-row > .hkd-form-cols > .hkd-form-col {
		width: 100px;
	}
	#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-tabelle-wertentwicklung .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
		width: 200px;
	}
	
	#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-tabelle-grundsumme .hkd-form-row > .hkd-form-cols > .hkd-form-col {
		width: 160px;
	}
	#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper .hkd-tabelle-grundsumme .hkd-form-row > .hkd-form-cols > .hkd-form-col:first-child {
		width: 100px;
	}
	
	#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper  .hkd-form-row > .hkd-form-cols > .hkd-form-col,
	#hk-tarifrechner .hkd-grid-10  .hkd-form-wrapper  .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
		width: 100%;
	}

}

@media handheld, only screen and (max-width: 440px) {
	.hkd-tabelle-grundsumme,
	.hkd-tabelle-wertentwicklung  {
		width: 270px;
	}
}





/* content box 100% breite mit icons für tabellen aufrufe */

.hkd-form-content-100 {
	margin-left: 18px;
	padding-top: 10px;
}
div.details .hkd-form-content-100 li {
	background-image: none;
	padding-left: 0;
}
div.details .hkd-form-content-100 a {
	font-size: 120%;
}

.hkd-ic56,
.hkd-ic57 {
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 30px 30px
}
.hkd-ic56 {
	background-image: url(bilder/hkd-ic-tabelle-grundsumme.svg);
}
.hkd-ic57 {
	background-image: url(bilder/hkd-ic-tabelle-summe.svg);
}


#hk-tarifrechner {
	color: #595959;
}

.hk-tarif-auswahl {
	float: left;
}


.hkd-tooltip,
.hkd-tarifrechner-header,
#hk-tarifrechner .hkd-bx-config .hkd-bx-show-all {
	display: none;
}

.hkd-col,
div.hkd-grid-2col,
.hkd-form-cols,
.hkd-form-col {
	float: left;
}

#hk-tarifrechner #loadSpinner {
	position: fixed; 
	margin: 40px 0 0 455px;
}



#hk-tarifrechner div.hkd-toggle-bx {
    padding-top: 0px;
}

#hk-tarifrechner .hkd-bx7 {
	margin-top: 10px;
}


#hk-tarifrechner .hkd-bx-config {
	cursor: pointer;
}




#hk-tarifrechner .hkd-bx-config--disable,
#hk-tarifrechner .hkd-bx-config,
#hk-tarifrechner .hkd-bx-hinweis  {
	margin-top: 10px;
	margin-bottom: 0px;
}


#hk-tarifrechner .hkd-bx-hinweis .cancel-hinweis {
	background-color: #fff;
	color: #008FD2;
	padding: 6px 6px 6px 40px;
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: 8px;
	background-image: url(bilder/hkd-ic-tr-close-1x.png);
	background-position: 10px center;
}


#hk-tarifrechner .hkd-bx-config--disable h3,
#hk-tarifrechner .hkd-bx-config h3,
#hk-tarifrechner .hkd-bx-hinweis h3 {
    text-align: center;
    color: #008FD2;
    font-weight: normal;
    background-color: #FFFFFF;
    padding: 15px 0;
    background-image: url(bilder/hkd-ic-pfeil-akk-oben-1x.png);
	background-position: 98.5% 50%;
	width: 100%;
}
#hk-tarifrechner .hkd-bx-config--disable h3 {
	 background-image: none;
}

#hk-tarifrechner div.hkd-bx-closed .hkd-bx-config h3 {
    color: #FFFFFF;
    background-color: #008FD2;
    background-image: url(bilder/hkd-ic-pfeil-akk-unten-weiss-1x.png);
	background-position: 98.5% 50%;
}

#hk-tarifrechner div.hkd-form-group-title .hkd-bx-config h3 {
    color: #FFFFFF;
    background-color: #008FD2;
    background-image: url(bilder/hk_box_delete.png);
	background-position: 99% 50%;
}

#hk-tarifrechner div.hkd-bx-closed .hkd-bx-config.hkd-bx-open-close h3 {
	background-image: url(bilder/hkd-ic-pfeil-akk-unten-weiss-1x.png);
	background-position: 98.5% 50%;
}
#hk-tarifrechner div.hkd-bx-open .hkd-bx-config.hkd-bx-open-close h3 {
	background-image: url(bilder/hkd-ic-pfeil-akk-oben-1x.png);
	background-position: 98.5% 50%;
	color: #008FD2;
	background-color: #FFFFFF;
}

#hk-tarifrechner .hkd-bx-hinweis h3 {
    color: #FFFFFF;
    background-color: #008FD2;
    background-image: none;
    margin-bottom: 0;
	margin-top: 0px;
	text-align: left;
	padding-left: 12px;
	width: calc(100% - 10px);
	position: relative;
}

#hk-tarifrechner div.hkd-objekt-nodelete .hkd-bx-config h3 {
	background-image: none;
}



.hkd-kombi-box {
	margin-top: 10px;
}


#hk-tarifrechner div.hkd-form-wrapper h3 {
	margin-bottom: 0;
	margin-top: 10px;
}

#hk-tarifrechner div.hkd-form-wrapper div.hkd-form-group-title h3 {
	margin-bottom: 0;
	margin-top: 0px;
}






#hk-tarifrechner .hkd-form-row {
	background-color: #fff;
	font-size: 14px;
	line-height: 19px;
	padding: 10px 0;
	border-top: 1px solid #e2e2e0;
}
#hk-tarifrechner .landingpage-thv .hkd-form-row {
	padding: 10px 0 0 0;
}

#hk-tarifrechner .hkd-form-row.hkd-papierlos + .hkd-papierlos,
#hk-tarifrechner .hkd-form-row.hkd-zahlungsweise + .hkd-zahlungsweise,
#hk-tarifrechner .hkd-form-berechnungsgrundlage {
	border-top: none;
}

#hk-tarifrechner div.hkd-form-group-title-hinweis,
#hk-tarifrechner div.hkd-form-group-title {
	padding: 0 0;
}





#hk-tarifrechner .hkd-form-row-lvl2,
#hk-tarifrechner .hkd-form-row-lvl2-end,
#hk-tarifrechner .hkd-form-field-group .hkd-form-row,
#hk-tarifrechner .hkd-form-checkbox-group .hkd-form-row {
	border-top: none;
}

#hk-tarifrechner .hkd-nachlass-checkbox {
	border-top: none;
}


#hk-tarifrechner .hkd-form-row dl {
	margin-left: 10px;
}

#hk-tarifrechner .hkd-form-radio-group .hkd-form-row {
	padding: 0;
	border-top: none;
}


#hk-tarifrechner .hkd-tarif-auswahl-header {
	padding: 0;
}
#hk-tarifrechner div.hkd-form-wrapper .hkd-tarif-auswahl-header  h3 {
	margin: 0;
	padding: 15px 0;
	text-align: center;
	width: 100%;
	font-weight: normal;
	font-size: 120%;
	background-color: #eff6f9;
	color:#008fd2;
}

#hk-tarifrechner .hkd-tarif-header {
	padding-top: 20px;
}
#hk-tarifrechner .hkd-form-radio-group .hkd-form-row:first-child {
	padding-top: 0px;
}

#hk-tarifrechner .hkd-form-group-title:first-child {
	padding-top: 0px;
}
#hk-tarifrechner .hkd-form-group-title .hkd-bx-config {
	cursor: pointer;
	margin-top: 0px;
	margin-bottom: 0px;
}





#hk-tarifrechner .hkd-form-function {
	background-color: transparent;
	margin-top: 0px;
}

#hk-tarifrechner .hkd-form-col,
.hkd-form-kombination .hkd-form-col {
    margin-left: 0px;
}

#hk-tarifrechner .hkd-form-berechnungsgrundlage .hkd-form-col-first {
	margin-right: 10px;
}

#hk-tarifrechner .hkd-tbl5 .hkd-tbl-cols-2 a {
	font-size: 100%;
	text-decoration: underline;
}



.hk-tarif-2 .hkd-form-checkbox-group,
.hk-tarif-3 .hkd-form-checkbox-group,
.hk-tarif-4 .hkd-form-checkbox-group,
.hk-tarif-5 .hkd-form-checkbox-group {
	display: none;
}


.hkd-form,
.hkd-form-row {
	width: 100%;
	float: left;
}


#hk-tarifrechner .hkd-form-radio-group .hkd-form-row {
	width: 90%;
	background-color: transparent;	
}


#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col,
#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first,
#hk-tarifrechner .hkd-kombi-box .hkd-form-cols > .hkd-form-col,
#hk-tarifrechner .hkd-form-function  .hkd-form-col {
	width: 48.5%;
}

#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col {
	width: 69.5%;
}
#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
	width: 29.5%;
}





#hk-tarifrechner .hkd-form-wrapper .hkd-form-row .hkd-form-cols .hkd-form-col-2 {
	width: 32%;
	padding-right: 2.5%;
}
#hk-tarifrechner .hkd-form-wrapper .hkd-form-row .hkd-form-cols .hkd-form-col-3 {
	width: 34.5%;
} 


#hk-tarifrechner .hkd-form-wrapper .hkd-form-row .hkd-form-field-group .hkd-form-col {
	width: auto;
}


.hkd-form-function {
    text-align: center;
    float: left;
    width: 100%;
}

/* anpassungen breite, button weitere x */
.visual-5 #hk-tarifrechner .hkd-form-col .hkd-form-submit input {
	width: 50%;
}


/* anpassungen breite, button weiter */

.visual-5 #hk-tarifrechner .hkd-form-add .hkd-form-submit input {
    width: 35%;
}

.visual-5 #hk-tarifrechner .hkd-form-submit input {
    width: 20%;
}



.visual-5 #hk-tarifrechner .hkd-form-submit {
	background-image: url(bilder/hk-ic-pfeil-submit.png);
	background-position: center 5px;
}


#hk-tarifrechner .hkd-form-add {
	padding: 0;
}
#hk-tarifrechner .hkd-form-next {
	padding: 0;
}
.visual-5 #hk-tarifrechner .hkd-form-add .hkd-form-submit  {
	background-image: none;
}
#hk-tarifrechner .hkd-form-add input {
	background-color: #fff;
	color: #008fd2;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}







dl dt {
	width: 5%;
	float: left;
}
dl dt:first-child {
	width:86%;
}

a.hkd-ic55 {
    margin-top: 4px;
	background-image: url(bilder/hk-ic-help.png);
	background-position: 0 2px;
	width: 24px;
	height: 24px;
	display: block;
}
a.hkd-ic55,
a.hkd-ic55:hover {
	text-decoration: none;
}







/* kontext-hilfe */
.hlp {
	display: block;
	background-color: #eff6f9;
	float: left;
	font-size: 15px;
	width: 958px;
	padding: 10px;
	margin: 0 0 4px 8px;
}

.hkd-form-col .hlp {
	width: 390px;
	margin: 10px 0 4px 0;
}


.hkd-legal .hlp {
	width: 908px;
	margin: 0 0 4px 0;
}


.hlp h2,
.hlp p {
	font-weight: normal;
	color: #008fd2;
	padding-right: 35px;
}

div.details .hlp h2,
div.details .hlp p {
	margin: 0;
}

div.details .hlp h2 {
	margin: 10px 0 0 0;
}

div.details .hlp {
	background-image: url(bilder/hkd-ic-tr-close-1x.png);
	background-position: 99.2% 10px;
	cursor: pointer;
}






/* NACHLASS */

.hkd-form-field-group {
	width: 480px;
}


#hk-tarifrechner .hkd-form-checkbox-group .hkd-form-row,
#hk-tarifrechner .hkd-form-checkbox-group .hkd-form-row:first-child {
	padding-top: 0;
}
div.details .hkd-form-checkbox-group p.hkd-form-element {
	margin: 0 0 0 0;
}
#hk-tarifrechner .hkd-form-row-lvl2{
	padding: 0;
}
#hk-tarifrechner .hkd-form-field-group .hkd-form-row {
	padding: 0;
}





#hk-tarifrechner .hkd-form-info {
	background-color: transparent;
	display: block;
	margin-bottom: 10px;
}

.hkd-legal-angebot {
	display: block;
	width: 80%;
}


.hkd-legal-angebot .hkd-form-checkbox label:before {
    background-color: #fff;
}

div.details .hkd-form-radio-group a {
	font-size: 90%;
	display: inline-block;
	margin-bottom: 10px;
}
#hk-tarifrechner .hkd-form-element label {
	font-size: 110%;
}


/* Feld-Breiten */

/* HAUS-NR, PLZ */
#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts10,
#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts6,
#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts6-1 {
    width: 100px;
}

/* STRASSE, ORT */
#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts7,
#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts3,
#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts7-1  {
    width: 358px;
}
#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts3,
#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts6 {
	margin-right: 10px;
}
#hk-tarifrechner .hkd-form-select select.hkd-form-ss1 {
	width: 50%;
}

#hk-tarifrechner .hkd-form-text input.hkd-form-ts1 {
	width: 15%;
}
#hk-tarifrechner .hkd-form-text input.hkd-form-ts2 {
	width: 55%;
}

#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts7-1 {
	margin-right: 10px; 
}



/* ANGEBOT ERSTELLEN */
#hk-tarifrechner .hk-angebot-anfordern .hkd-form-text input.hkd-form-ts2,
#hk-tarifrechner .hk-antrag-stellen .hkd-form-text input.hkd-form-ts2 {
	width: 100px;
	margin-right: 10px;
}
#hk-tarifrechner .hk-angebot-anfordern .hkd-form-text input.hkd-form-ts8,
#hk-tarifrechner .hk-antrag-stellen .hkd-form-text input.hkd-form-ts8 {
	width: 358px;
}
#hk-tarifrechner .hk-angebot-anfordern .hkd-form-select,
#hk-tarifrechner .hk-antrag-stellen .hkd-form-select  {
	padding-right: 10px;
}










/* ANGABEN UND DOKUMENTE */

.visual-5 #hk-tarifrechner .hkd-bx8 .hkd-form-submit {
    background-image: none;
}
.hkd-angaben-dokumente .hkd-form-cols {
	margin-left: 10px;
	margin-bottom: 20px;
}
.hkd-angaben-dokumente .hkd-form-col {
	width:48%;
}

.hkd-angaben-dokumente .hkd-tbl5,
.hkd-angaben-dokumente .hkd-tbl6 {
	width: 100%;
	margin-top: 10px;
}
.hkd-angaben-dokumente .hkd-tbl5 table,
.hkd-angaben-dokumente .hkd-tbl6 table {
	width:97%;
}
.hkd-angaben-dokumente .hkd-tbl5 .hkd-tbl-col1 {
	width: 45%; 
}
.hkd-angaben-dokumente .hkd-tbl5 .hkd-tbl-col2 {
	width: 48%; 
}

.hkd-angaben-dokumente a.hkd-ic11 {
    background-image: url(bilder/hkd-ic-download-tarif-pdf.svg);
}
.hkd-angaben-dokumente a.hkd-ic12 {
    background-image: url(bilder/hkd-ic-download-tarif-zip.svg);
}
.hkd-angaben-dokumente a.hkd-ic-doc {
    display: block;
    height: 19px;
    text-indent: -1000em;
    width: 16px;
}
.hkd-angaben-dokumente .hkd-tbl-col-icon-1 {
	width: 30px;
}

.hkd-angaben-dokumente .hkd-tbl5 tbody td,
.hkd-angaben-dokumente .hkd-tbl6 tbody td {
    border-bottom: 1px solid #D7E3EC;
    padding: 4px 0 4px 0;
}


#hk-tarifrechner textarea.hkd-form-textarea {
	margin-left: 10px;
	width: 90%;
}




/* TABELLE */

#hkd-tbl-schadendetails {
	margin-left: 10px;
}
#hkd-tbl-schadendetails table {
	width: 98%;
}

#hkd-tbl-schadendetails th,
#hkd-tbl-schadendetails td {
	font-weight: normal;
	font-size: 14px;
    border: 1px solid #CFCFCF;
    padding: 5px 8px 5px 6px;
    vertical-align: middle;
}
#hkd-tbl-schadendetails th {
    vertical-align: baseline;
    color: #008fd2;
    font-size: 12px;
    background-color: #eff6f9;
    padding: 10px 4px;
    border-left: 1px solid #008fd2;
    border-right: 1px solid #008fd2;
}
#hkd-tbl-schadendetails th {
    border-top: 1px solid #fff;
}

#hkd-tbl-schadendetails .hkd-tbl-first {
    border-left: 1px solid #fff;
}
#hkd-tbl-schadendetails .hkd-tbl-last {
    border-right: 1px solid #fff;
}



/* ZUSAMMENFASSUNG */

.hkd-legal {
	margin-top: 20px;
	background-color: #fff;
	padding: 10px;
	border-top: 3px solid #b41829;
}
.hkd-legal label {
	width: 90%;
}
.hkd-legal-bold {
	font-weight: bold;
}
.hkd-legal p {
	color: #b41829;
}
.hkd-legal input[type="checkbox"]:checked + label:before {
    color: #b41829;
}


.hkd-bx10 {
	background-color: #fff;
	padding: 10px;
}
.hkd-bx10 h3 {
	text-align: left;
	padding: 10px 0;
	color: #008fd2;
}
.hkd-bx10 table {
	width: 100%;
}
.hkd-bx10 table .hkd-tbl-col1 {
	width: 40%;
}
.hkd-bx10 table td {
	font-size: 14px;
    border-top: 1px solid #CFCFCF;
    padding: 5px 8px 5px 0;
    vertical-align: middle;    
}

.hkd-tbl-last {
	color: #008fd2;
}




/* tarif slider */

div.details .hkd-tarif-controller-status ul li {
	background-image: url(bilder/hk_slider_status.png);
	background-position: 0 0;
	width: 18px;
	height: 18px;
	display: block;
	float: left;
	padding: 0;
	margin: 0 0 0 3px;
}

.hkd-tarif-controller {
	position: absolute;
	margin: 35px 0 0 105px;
}
#hk-tarifrechner .hk-tarif-4 .hkd-tarif-controller {
	margin: 35px 0 0 90px;
}

div.details .hkd-tarif-controller-status ul li.hkd-tarif-controller-aktiv {
	background-image: url(bilder/hk_slider_status.png);
	background-position: 0 -30px;
}

.hkd-tarif-controller .hkd-tarif-buttons a {
	display: block;
	width: 20px;
	height: 24px;
	position: absolute;
	margin-top: -43px;
}

.hk-tarif-4 .hkd-tarif-controller .hkd-tarif-buttons a {
	display: block;
	width: 20px;
	height: 24px;
	position: absolute;
	margin-top: -40px;
}

.hkd-tarif-controller .hkd-tarif-button-prev {
	background-image: url(bilder/hk_pfeil_prev.png);
	margin-left: -95px;
}
#hk-tarifrechner .hk-tarif-4 .hkd-tarif-controller .hkd-tarif-button-prev {
	background-image: url(bilder/hk_pfeil_prev.png);
	margin-left: -65px;
}

.hkd-tarif-controller .hkd-tarif-button-next {
	background-image: url(bilder/hk_pfeil.png);
	margin-left: 140px;
}





/* landingpage ------------------------------ */

.landingpage #hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col, 
.landingpage #hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first, 
.landingpage #hk-tarifrechner .hkd-form-function .hkd-form-col {
	width: 50%;
}
.landingpage #hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
	width: calc(50% - 10px);
	padding-left: 10px;
}

.landingpage #hk-tarifrechner .landingpage-thv .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col, 
.landingpage #hk-tarifrechner .landingpage-thv .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first, 
.landingpage #hk-tarifrechner .landingpage-thv .hkd-form-function .hkd-form-col {
	width: 70%;
}
.landingpage #hk-tarifrechner .landingpage-thv .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
	width: calc(30% - 10px);
}


.landingpage #hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
	margin-bottom: 10px;
}
.landingpage #hk-tarifrechner .hkd-form-row dl {
	margin-left: 0;
}
.landingpage .hlp {
	width: calc(100% - 40px);
	margin: 0 10px;
}

.landingpage dl dt:first-child {
    width: 85%;
}
.landingpage #hk-tarifrechner .hkd-form-text input.hkd-form-ts1 {
    width: 25%;
}
.landingpage #hk-tarifrechner .hkd-form-select select.hkd-form-ss1 {
    width: 95%;
}

.landingpage .hkd-form {
	background-color: #ebebe9;
	padding: 10px;
	width: calc(100% - 20px);
}
.landingpage #hk-tarifrechner .hkd-form-wrapper > .hkd-form-row:first-child {
	border-top: none;
	padding-top: 30px;
}
.landingpage #hk-tarifrechner .hkd-form-row {
	
}
.landingpage #hk-tarifrechner .hkd-form-function.hkd-form-row {
	text-align: center;
	padding-bottom: 0;
}
.landingpage .hkd-form-function .hkd-form-element {
	margin: 0;
}
.landingpage p.hkd-form-submit {
	width: 50%;
	display: inline-block;
	padding: 0;
}
.landingpage.details .col1-1 .col {
	width: 320px;
}
.landingpage.details .col1-1 .col-2 {
	width: 656px;
}

.landingpage .hkd-form-cols-n-3 .hkd-form-col {
	width: 33.333%;
}
.landingpage #hk-tarifrechner .hkd-form-cols-n-3 .hkd-form-col .hkd-form-text input.hkd-form-ts1  {
	width: 90%;
}
.landingpage .hkd-form-add-item {
	font-size: 100%;
	margin-left: 10px;
	background-image: url(bilder/hkd-ic-pfeil-btn1-1x.png);
	background-position: 0 center;
	padding: 10px 0 10px 16px;
	display: inline-block;
}

/* datenschutzhinweis ------------------------------ */
.datenschutzhinweis{
	font-size: 100% !important;
	color: #00a0dc;
}





@media handheld, only screen and (max-width: 1000px) {

	.landingpage.details .col1-1 .col,
	.landingpage.details .col1-1 .col-2 {
		width: 100%;
	}
	.landingpage.details .col1-1 .col-2 {
		padding-top: 30px;
	}
	

	
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col, 
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first, 
	#hk-tarifrechner .hkd-form-function .hkd-form-col {
    	width: 50%;
	}
	
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
		width: 29.5%;
	}
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row .hkd-form-cols .hkd-form-col-2 {
		width: 32%;
		padding-right: 2.5%;
	}
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row .hkd-form-cols .hkd-form-col-3 {
		width: 34.5%;
	} 

	
	
	#hk-tarifrechner input.hkd-form-ts6,
	#hk-tarifrechner input.hkd-form-ts100 {
		width: 331px;
	}
	
	#hk-tarifrechner input.hkd-form-ts3,
	#hk-tarifrechner input.hkd-form-ts4,
	#hk-tarifrechner input.hkd-form-ts5 {
		width: 94%;
	}
	
	#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts7-1,
	#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts3,
	#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts7,
	#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts8,
	#hk-tarifrechner .hk-angebot-anfordern .hkd-form-text input.hkd-form-ts8,
	#hk-tarifrechner .hk-antrag-stellen .hkd-form-text input.hkd-form-ts8 {
		width: 215px;
	}
	
	
	
	#hk-tarifrechner textarea.hkd-form-textarea {
		width: 85%;
	}
	
	.visual-5 #hk-tarifrechner .hkd-angaben-dokumente .hkd-form-submit input {
		width: 30%;
	}
	
	
	
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-field-group .hkd-form-col {
		width: auto;
	} 
	
	#hk-tarifrechner .hk-tarif-2 .hkd-form-field-group input.hkd-form-ts3 {
		width: 234px;
	}
	#hk-tarifrechner .hk-tarif-2 .hkd-form-field-group input.hkd-form-ts10 {
		width: 80px;	
	}
	
	#hk-tarifrechner .hk-tarif-3 .hkd-form-element .hkd-form-ts5 {
		width: 95%;	
	}
	#hk-tarifrechner .hk-tarif-3 .hkd-form-select .hkd-form-ss2 {
		width: 96%;	
	}
	.hk-tarif-2 .hkd-form-radio label {
   		width: 90%;
	}

	

	.visual-5 #hk-tarifrechner .hkd-angaben-dokumente .hkd-form-submit input {
		width: 40%;
	}
	
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-berechnungsgrundlage > .hkd-form-cols > .hkd-form-col {
		width: 45%;
	}
	
	
	#hk-tarifrechner #loadSpinner {
		margin: 40px 0 0 332px;
	}
	

}








@media handheld, only screen and (max-width: 700px) {
	
	.landingpage #hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col, 
	.landingpage #hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first, 
	.landingpage #hk-tarifrechner .hkd-form-function .hkd-form-col,
	.landingpage #hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first
	.landingpage #hk-tarifrechner .landingpage-thv .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col, 
	.landingpage #hk-tarifrechner .landingpage-thv .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first, 
	.landingpage #hk-tarifrechner .landingpage-thv .hkd-form-function .hkd-form-col,
	.landingpage #hk-tarifrechner .landingpage-thv .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
		width: 100%;
	}
	
	.landingpage #hk-tarifrechner .landingpage-thv .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col, 
	.landingpage #hk-tarifrechner .landingpage-thv .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first, 
	.landingpage #hk-tarifrechner .landingpage-thv .hkd-form-function .hkd-form-col {
		width: 90%;
	}


	.landingpage #hk-tarifrechner  .hkd-form-cols-n-3 .hkd-form-col {
		width: 31%;
		margin-left: 2%;
	}
	.landingpage #hk-tarifrechner  .hkd-form-cols-n-3 .hkd-form-col:first-child {
		margin-left: 0;
	}
	
	.hkd-abschluss-status-indikator > li span {
		font-size: 12px;
	}
	
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col, 
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first, 
	#hk-tarifrechner .hkd-form-function .hkd-form-col {
    	width: 100%;
	}
	
	
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
		width: 29.5%;
	}
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row .hkd-form-cols .hkd-form-col-2 {
		width: 32%;
		padding-right: 2.5%;
	}
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row .hkd-form-cols .hkd-form-col-3 {
		width: 34.5%;
	} 

	

	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col {
    	margin-left: 12px;
	}

	
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
    	margin-left: 2px;
    	margin-bottom: 5px;
	}
	
	.hkd-angaben-dokumente .hkd-form-col {
		width: 100%;
		margin-bottom: 20px;
	}
	
	
	#hk-tarifrechner input.hkd-form-ts6,
	#hk-tarifrechner input.hkd-form-ts100 {
		width: 380px;
	}
	
	#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts7-1,
	#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts3,
	#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts7,
	#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts8,
	#hk-tarifrechner .hk-angebot-anfordern .hkd-form-text input.hkd-form-ts8,
	#hk-tarifrechner .hk-antrag-stellen .hkd-form-text input.hkd-form-ts8 {
		width: 265px;
	}
	
	#hk-tarifrechner .hkd-form-text input.hkd-form-ts1 {
		width: 20%;
	}
	
	#hk-tarifrechner input.hkd-form-ts3 {
		width:92%;
	}
	
	#hk-tarifrechner textarea.hkd-form-textarea {
		width: 85%;
	}
	
	.visual-5 #hk-tarifrechner .hkd-form-add .hkd-form-submit input,
	.visual-5 #hk-tarifrechner .hkd-form-submit input {
    	width: 40%;
	}
	
	.visual-5 #hk-tarifrechner .hkd-angaben-dokumente .hkd-form-submit input {
		width: 40%;
	}


	#hk-tarifrechner .hk-tarif-2 .hkd-form-field-group input.hkd-form-ts3 {
		width: 268px;
	}
	#hk-tarifrechner  .hk-tarif-2 .hkd-form-field-group input.hkd-form-ts10 {
		width: 80px;	
	}
	
	#hk-tarifrechner .hk-tarif-2 .hkd-form-field-group input.hkd-form-ts6 {
		width: 80px;
	}
	#hk-tarifrechner  .hk-tarif-2 .hkd-form-field-group input.hkd-form-ts7 {
		width: 268px;	
	}

	.hkd-bx-config h3 {
		font-size: 90%;
	}
	
	.hkd-form-field-group .hkd-form-row {
		width: 96%;
	}
	
	#hk-tarifrechner .hk-tarif-3 .hkd-form-element .hkd-form-ts5 {
		width: 93%;	
	}
	#hk-tarifrechner .hk-tarif-3 .hkd-form-select .hkd-form-ss2 {
		width: 94%;	
	}

	

	.visual-5 #hk-tarifrechner .hk-tarif-auswahl .hkd-form-submit input {
		width: 60%;
	}
	
	.visual-5 #hk-tarifrechner .hkd-angaben-dokumente .hkd-form-submit input {
		width: 60%;
	}
	
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-berechnungsgrundlage {
		width: 95%;	
	}



	#hk-tarifrechner .hkd-form-wrapper .hkd-form-berechnungsgrundlage {
		width: 90%;
	}
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-berechnungsgrundlage > .hkd-form-cols > .hkd-form-col {
		margin-left: 0;
	}
	
	
	#hk-tarifrechner #loadSpinner {
		margin: 40px 0 0 195px;
	}
	


}



@media handheld, only screen and (max-width: 440px) {
	
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col, 
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first, 
	#hk-tarifrechner .hkd-form-function .hkd-form-col {
    	width: 100%;
	}

	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col {
    	margin-left: 12px;
	}
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-row > .hkd-form-cols > .hkd-form-col-first {
    	margin-left: 2px;
    	margin-bottom: 5px;
	}
	
	#hk-tarifrechner .hkd-form-text input.hkd-form-ts1 {
		width: 30%;
	}
	
	#hk-tarifrechner input.hkd-form-ts6,
	#hk-tarifrechner input.hkd-form-ts100 {
		width: 240px;
	}
	
	#hk-tarifrechner input.hkd-form-ts3,
	#hk-tarifrechner input.hkd-form-ts4,
	#hk-tarifrechner input.hkd-form-ts5 {
		width: 88%;
	}
	
	#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts7-1,
	#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts3,
	#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts7,
	#hk-tarifrechner .hkd-form-field-group input.hkd-form-ts8,
	#hk-tarifrechner .hk-angebot-anfordern .hkd-form-text input.hkd-form-ts8,
	#hk-tarifrechner .hk-antrag-stellen .hkd-form-text input.hkd-form-ts8 {
		width: 125px;
	}
	
	#hk-tarifrechner textarea.hkd-form-textarea {
		width: 65%;
	}
	
	#hk-tarifrechner .hk-tarif-2 .hkd-form-wrapper .hkd-form-radio-group .hkd-form-row {
		width: 90%;
	}

	.visual-5 #hk-tarifrechner .hkd-form-add .hkd-form-submit input,
	.visual-5 #hk-tarifrechner .hkd-form-submit input {
    	width: 70%;
	}
	
	#hk-tarifrechner .hkd-form-wrapper .hkd-form-field-group .hkd-form-row >  .hkd-form-cols > .hkd-form-col {
		margin: 0;
	}
	#hk-tarifrechner .hk-tarif-2 .hkd-form-field-group input.hkd-form-ts3 {
		width: 240px;
	}
	#hk-tarifrechner  .hk-tarif-2 .hkd-form-field-group input.hkd-form-ts10 {
		width: 240px;	
	}
	
	#hk-tarifrechner .hk-tarif-2 .hkd-form-field-group input.hkd-form-ts6 {
		width: 240px;
	}
	#hk-tarifrechner  .hk-tarif-2 .hkd-form-field-group input.hkd-form-ts7 {
		width: 240px;
	}
	
	
	#hk-tarifrechner .hk-tarif-3 .hkd-form-element .hkd-form-ts5 {
		width: 90%;	
	}
	#hk-tarifrechner .hk-tarif-3 .hkd-form-select .hkd-form-ss2 {
		width: 91%;	
	}

	.hlp { 
		width: 234px;
	}

	#hk-tarifrechner .hkd-form-wrapper .hkd-form-berechnungsgrundlage > .hkd-form-cols > .hkd-form-col {
		margin-left: 0;
	}
	
	#hk-tarifrechner #loadSpinner {
		margin: 40px 0 0 124px;
	}
	
	
}


/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-resolution: 144dpi) {

	#hk-tarifrechner .hkd-bx-config h3 {
		background-image: url(bilder/hkd-ic-pfeil-akk-oben-2x.png);
		background-size: 18px 9px;
	}

	#hk-tarifrechner div.hkd-bx-closed .hkd-bx-config h3 {
		background-image: url(bilder/hkd-ic-pfeil-akk-unten-weiss-2x.png);
		background-size: 18px 9px;
	}
	
	#hk-tarifrechner .hkd-bx-hinweis .cancel-hinweis,
	div.details .hlp {
		background-image: url(bilder/hkd-ic-tr-close-2x.png);
		background-size: 20px 20px;
	}

	#hk-tarifrechner div.hkd-bx-closed .hkd-bx-config.hkd-bx-open-close h3 {
		background-image: url(bilder/hkd-ic-pfeil-akk-unten-weiss-2x.png);
		background-position: 98.5% 50%;
	}
	#hk-tarifrechner div.hkd-bx-open .hkd-bx-config.hkd-bx-open-close h3 {
		background-image: url(bilder/hkd-ic-pfeil-akk-oben-2x.png);
		background-position: 98.5% 50%;
	}
	
}

